<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Powiadomienia</h1>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-bordered" (show)="showTable()">
      <thead>
      <tr>
        <th>Data</th>
        <th>Typ</th>
        <th>Treść</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let alert of alerts | async">
        <td>{{alert.date | date:'dd-MM-yyyy hh:mm:ss'}}</td>
        <td>{{alert.type}}</td>
        <td><img src="../../assets/warning-icon.png" style="height: 20px; width: 20px;">{{alert.description}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
