<div class="row mt-5">
  <div class="col-md-9 mx-auto">
    <h2 class="text-left">Przebyta trasa</h2>
    <div class="card mt-3">
      <div class="card-body">
        <div id="map" class="map"></div>
        <div id="popup" class="ol-popup">
          <a href="#" id="popup-closer" class="ol-popup-closer"></a>
          <div id="popup-content"></div>
        </div>
        <div tooltip="Should be forceBase + modifyForce" tooltip-persistent class="StatFormat" id="Force"></div>
      </div>
    </div>
  </div>
</div>
